/* CSS Document */
/*
##### toBe Marketing Pardot LP
##### Theme Style
##### version 1.0
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
}

@media (min-width: 991px) {
  .contentHeader h1 {
    font-size: 2rem;
    font-weight: 500;
  }
  .contentMain h1, .contentMain h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .contentMain h3 {
    font-size: 1.25rem;
    font-weight: 500;
  }
  .contentMain h4 {
    font-size: 1.125rem;
    font-weight: 500;
  }
  .contentMain h5 {
    font-size: 1.125rem;
    font-weight: 500;
  }
  .contentSub h1, .contentSub h2, .contentSub h3, .contentSub h4, .contentSub h5 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .contentSub p, .contentSub label, .contentSub input, .contentSub option, .contentSub .formDescription {
    font-weight: 500;
  }
  .contentSub label.field-label {
    font-weight: 600;
  }
  .contentSub .form-control {
    border-radius: 0;
  }
}

@media (max-width: 990px) {
  .contentHeader h1 {
    font-size: 1.75rem;
    font-weight: 500;
  }
  .contentMain h1, .contentMain h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .contentMain h3 {
    font-size: 1.25rem;
    font-weight: 500;
  }
  .contentMain h4 {
    font-size: 1.125rem;
    font-weight: 500;
  }
  .contentMain h5 {
    font-size: 1.125rem;
    font-weight: 500;
  }
  .contentSub h1, .contentSub h2, .contentSub h3, .contentSub h4, .contentSub h5 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .contentSub p, .contentSub label, .contentSub input, .contentSub option, .contentSub .formDescription {
    font-weight: 500;
  }
  .contentSub label.field-label {
    font-weight: 600;
  }
  .contentSub .form-control {
    border-radius: 0;
  }
}

body#layout-one header .nav.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0 16px 0;
}

body#layout-one header .nav.navbar .navbar-cta {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

@media (min-width: 576px) {
  body#layout-one header .nav.navbar .navbar-brand > img {
    height: 50px !important;
    -webkit-backface-visibility: hidden;
  }
}

@media (max-width: 575px) {
  body#layout-one header .nav.navbar {
    padding: 0;
  }
  body#layout-one header .nav.navbar .navbar-brand > img {
    height: 29px !important;
    margin: 1rem 0;
  }
}

@media (min-width: 768px) {
  body#layout-one header .nav.navbar .navbar-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
  body#layout-one header .nav.navbar .navbar-cta .call {
    list-style: none;
  }
  body#layout-one header .nav.navbar .navbar-cta .call p {
    margin-bottom: 0;
    font-size: 0.5rem;
    margin-right: 20px;
  }
  body#layout-one header .nav.navbar .navbar-cta .call span {
    font-size: 1.5rem;
    line-height: 1;
  }
  body#layout-one header .nav.navbar .navbar-cta .mail {
    list-style: none;
  }
  body#layout-one header .nav.navbar .navbar-cta .mail a {
    min-width: 240px;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    padding: 10px 8px;
    margin-bottom: 0;
    border-radius: 45px;
    line-height: 40px;
  }
}

@media (max-width: 767px) {
  body#layout-one header .nav.navbar .navbar-cta {
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0px;
    border-top: solid 1px #ddd;
    background-color: #f3f3f3;
    margin-bottom: 0;
  }
  body#layout-one header .nav.navbar .navbar-cta .call {
    list-style: none;
  }
  body#layout-one header .nav.navbar .navbar-cta .call p {
    margin-bottom: 0;
    font-size: 0.5rem;
    margin-right: 10px;
  }
  body#layout-one header .nav.navbar .navbar-cta .call span {
    font-size: 1.5rem;
    line-height: 1;
  }
  body#layout-one header .nav.navbar .navbar-cta .mail {
    min-width: 80%;
    list-style: none;
  }
  body#layout-one header .nav.navbar .navbar-cta .mail a {
    width: 100%;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    border-radius: 6px !important;
    padding: 12px 10px;
    margin-bottom: 0;
  }
}

body#layout-one .contentHeader h1 {
  padding: 1rem 0;
  text-align: left;
}

body#layout-one .contentHeader .contentHeaderImage {
  margin: 18px 0;
}

body#layout-one .contentHeader .contentHeaderImage img {
  -webkit-backface-visibility: hidden;
}

@media (min-width: 991px) {
  body#layout-one .contentSub {
    padding-right: 30px;
  }
}

@media (min-width: 991px) {
  body#layout-one .contentSub .formWrapper {
    margin-top: 30px;
  }
}

@media (max-width: 990px) {
  body#layout-one .contentSub .formWrapper {
    margin-top: 60px;
  }
}

body#layout-one footer {
  text-align: left;
}

body.color-original .contentMain ul {
  border: solid 1px #dee2e6;
  border-radius: 4px;
}

body.color-original .contentMain ul li::before {
  color: #2d5a9b;
}

body.color-original .contentMain ul.ul-none {
  border: solid 0px #dee2e6 !important;
}

body.color-original .contentMain ul.ul-none li::before {
  color: #2d5a9b;
}

body.color-original .contentSub h2 {
  color: #333333;
}

body.color-original .btn-primary {
  font-weight: 400;
  background-color: #2d5a9b;
  border-color: #2d5a9b;
}

body.color-original .btn-primary:hover {
  background-color: #3871c3;
}

body .contentHeader, body .contentMain, body table.seminar-outline, body .table {
  color: #333333;
  font-weight: 300;
}

body.type-basic {
  background-color: #f0f5fa;
}

body.type-basic.color-original header {
  border-bottom: solid 1px #d7dce1;
  z-index: 20;
  position: fixed;
  background-color: #FFFFFF;
  width: 100%;
}

body.type-basic.color-original .contentHeader {
  padding: 100px 20px 20px 20px;
}

body.type-basic.color-original .contentHeader h1 {
  color: #333333;
}

body.type-basic.color-original .contentMain h1, body.type-basic.color-original .contentMain h2 {
  padding: 1rem;
  color: #333333;
  border-left: solid 4px #2d5a9b;
}

body.type-basic.color-original .contentMain h2.bracket {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
  padding: 40px;
  position: relative;
  border-bottom: 0px;
  margin-bottom: 30px;
  border-left: none;
}

body.type-basic.color-original .contentMain h2.bracket::before, body.type-basic.color-original .contentMain h2.bracket::after {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
}

body.type-basic.color-original .contentMain h2.bracket::before {
  border-left: solid 3px #2d5a9b;
  border-top: solid 3px #2d5a9b;
  top: 0;
  left: 10px;
}

body.type-basic.color-original .contentMain h2.bracket::after {
  border-right: solid 3px #2d5a9b;
  border-bottom: solid 3px #2d5a9b;
  bottom: 0;
  right: 10px;
}

body.type-basic.color-original .contentMain h2.square {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
  border-left: none;
  padding: 1rem 2rem;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#0269bd), to(#2d5a9b));
  background-image: linear-gradient(to right, #0269bd 0%, #2d5a9b 100%);
}

body.type-basic.color-original .contentMain h2 > span {
  padding: 0 3px 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #c3e4ff), color-stop(30%, transparent));
  background: linear-gradient(to top, #c3e4ff 30%, transparent 30%);
}

body.type-basic.color-original .contentMain h3 {
  padding: .5rem 0;
  position: relative;
  margin-bottom: 1.5rem;
}

body.type-basic.color-original .contentMain h3::after {
  content: '';
  position: absolute;
  bottom: -5px;
  display: block;
  width: 50px;
  height: 2px;
  background-color: #2d5a9b;
}

body.type-basic.color-original .contentMain h4 {
  padding: .5rem 0;
  border-bottom: solid 2px #eeeeee;
}

body.type-basic.color-original .contentMain h5 {
  padding: .1rem .75rem;
  border-left: solid 4px #2d5a9b;
}

@media (min-width: 991px) {
  body.type-basic.color-original .contentMain table.column-reverse-layout tr {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body.type-basic.color-original .contentMain table.column-reverse-layout tr:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  body.type-basic.color-original .contentMain table.column-reverse-layout tr:nth-child(even) td img {
    padding: 0 0 0 20px;
  }
  body.type-basic.color-original .contentMain table.column-reverse-layout td img {
    padding: 0 20px 0 0;
  }
  body.type-basic.color-original .contentMain table.column-reverse-layout td.v-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body.type-basic.color-original .contentMain table.column-reverse-layout td.v-align h1, body.type-basic.color-original .contentMain table.column-reverse-layout td.v-align h2, body.type-basic.color-original .contentMain table.column-reverse-layout td.v-align h3, body.type-basic.color-original .contentMain table.column-reverse-layout td.v-align h4, body.type-basic.color-original .contentMain table.column-reverse-layout td.v-align h5 {
    margin-top: 0;
  }
}

@media (max-width: 990px) {
  body.type-basic.color-original .contentMain table.column-reverse-layout td {
    display: block;
    width: 100% !important;
  }
  body.type-basic.color-original .contentMain table.column-reverse-layout td img {
    padding: 10px 0px 20px 0;
  }
}

body.type-basic.color-original .contentMain table.column-layout {
  margin: 20px 50px;
}

body.type-basic.color-original .contentMain table.column-layout tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 575px) {
  body.type-basic.color-original .contentMain table.column-layout tr {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }
}

body.type-basic.color-original .contentMain table.column-layout h5 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 0 0.5rem 0;
  padding-left: 0px;
  border-left: none;
}

body.type-basic.color-original .contentMain table.column-layout td {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  border-top: 0 !important;
  padding: 5px;
  margin-bottom: 20px;
}

body.type-basic.color-original .contentMain table.column-layout td span {
  display: block;
  font-size: 0.8rem;
  line-height: 1.75;
  font-weight: 300;
  margin-top: -1rem;
  text-align: center;
}

body.type-basic.color-original .contentMain table.column-layout td img {
  width: 450px;
  display: block;
  left: 0;
  right: 0;
  margin: 10px auto 0;
}

@media (max-width: 575px) {
  body.type-basic.color-original .contentMain table.column-layout {
    margin: 20px 0;
  }
  body.type-basic.color-original .contentMain table.column-layout td {
    display: block;
    width: 100%;
    border-width: 0;
  }
  body.type-basic.color-original .contentMain table.column-layout td {
    border-top: none;
    margin-bottom: 2em;
  }
  body.type-basic.color-original .contentMain table.column-layout td img {
    width: 75%;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
  }
  body.type-basic.color-original .contentMain table.column-layout td span {
    margin-top: -1em;
    text-align: center;
  }
}

body.type-basic.color-original .contentMain table.seminar-outline th {
  vertical-align: middle;
  background-color: #f7f7f7;
  text-align: left;
  width: 25%;
}

@media (max-width: 575px) {
  body.type-basic.color-original .contentMain table.seminar-outline th {
    width: 35%;
  }
}

body.type-basic.color-original .contentMain table.seminar-outline td p span {
  display: block;
  font-size: 0.8rem;
  line-height: 1.75;
  font-weight: 300;
}

body.type-basic.color-original .contentMain table.seminar-speaker-1 tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 575px) {
  body.type-basic.color-original .contentMain table.seminar-speaker-1 tr {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }
}

body.type-basic.color-original .contentMain table.seminar-speaker-1 h5 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 0 0.5rem 0;
  padding-left: 0px;
  border-left: none;
}

body.type-basic.color-original .contentMain table.seminar-speaker-1 th p {
  margin-bottom: 0;
}

body.type-basic.color-original .contentMain table.seminar-speaker-1 th p span {
  display: block;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.75;
  margin: 1rem 0 1rem;
}

@media (min-width: 575px) {
  body.type-basic.color-original .contentMain table.seminar-speaker-1 th {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    width: 100%;
  }
}

body.type-basic.color-original .contentMain table.seminar-speaker-1 td span {
  display: block;
  font-size: 0.8rem;
  line-height: 1.75;
  font-weight: 300;
  margin-top: -1rem;
}

body.type-basic.color-original .contentMain table.seminar-speaker-1 td img {
  display: block;
  left: 0;
  right: 0;
  margin: 10px auto 0;
}

@media (min-width: 575px) {
  body.type-basic.color-original .contentMain table.seminar-speaker-1 td {
    -ms-flex-preferred-size: 250px;
        flex-basis: 250px;
    -webkit-flex-basis: 250px;
    -ms-flex: 0 0 250px;
  }
}

@media (max-width: 575px) {
  body.type-basic.color-original .contentMain table.seminar-speaker-1 th, body.type-basic.color-original .contentMain table.seminar-speaker-1 td {
    display: block;
    width: 100%;
    border-width: 1px 0 0 0;
  }
  body.type-basic.color-original .contentMain table.seminar-speaker-1 th {
    padding-top: 2em;
  }
  body.type-basic.color-original .contentMain table.seminar-speaker-1 td {
    border-top: none;
    margin-bottom: 2em;
  }
  body.type-basic.color-original .contentMain table.seminar-speaker-1 td img {
    width: 75%;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
  }
  body.type-basic.color-original .contentMain table.seminar-speaker-1 td span {
    margin-top: -1em;
    text-align: center;
  }
}

body.type-basic.color-original .contentMain table.seminar-speaker-2 tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
}

@media (max-width: 575px) {
  body.type-basic.color-original .contentMain table.seminar-speaker-2 tr {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }
}

body.type-basic.color-original .contentMain table.seminar-speaker-2 h5 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 0 0.5rem 0;
  padding-left: 0px;
  border-left: none;
}

body.type-basic.color-original .contentMain table.seminar-speaker-2 th {
  width: 100%;
}

body.type-basic.color-original .contentMain table.seminar-speaker-2 th p {
  margin-bottom: 0;
}

body.type-basic.color-original .contentMain table.seminar-speaker-2 th p span {
  display: block;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.75;
  margin: 1rem 0 1rem;
}

body.type-basic.color-original .contentMain table.seminar-speaker-2 td {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  border-top: 0;
}

body.type-basic.color-original .contentMain table.seminar-speaker-2 td span {
  display: block;
  font-size: 0.8rem;
  line-height: 1.75;
  font-weight: 300;
  margin-top: -1rem;
}

body.type-basic.color-original .contentMain table.seminar-speaker-2 td img {
  width: 100%;
  display: block;
  left: 0;
  right: 0;
  margin: auto;
}

@media (min-width: 768px) {
  body.type-basic.color-original .contentMain table.seminar-speaker-2 td {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    -webkit-flex-basis: 200px;
    -ms-flex: 0 0 50px;
  }
}

@media (max-width: 575px) {
  body.type-basic.color-original .contentMain table.seminar-speaker-2 th, body.type-basic.color-original .contentMain table.seminar-speaker-2 td {
    display: block;
    width: 100%;
    border-width: 1px 0 0 0;
  }
  body.type-basic.color-original .contentMain table.seminar-speaker-2 th {
    padding-top: 2em;
  }
  body.type-basic.color-original .contentMain table.seminar-speaker-2 td {
    border-top: none;
    margin-bottom: 2em;
  }
  body.type-basic.color-original .contentMain table.seminar-speaker-2 td img {
    width: 75%;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
  }
  body.type-basic.color-original .contentMain table.seminar-speaker-2 td span {
    margin-top: -1em;
    text-align: center;
  }
}

body.type-basic .contentMain {
  background-color: #fff;
}

body.type-basic .contentSub {
  background-color: #fff;
}

body.type-basic .contentSub h1, body.type-basic .contentSub h2, body.type-basic .contentSub h3, body.type-basic .contentSub h4, body.type-basic .contentSub h5 {
  color: #333333;
}

body.type-basic .contentSub .formWrapper {
  background-color: #F5F5F5;
}

body.type-basic .contentSub .formWrapper .btn, body.type-basic .contentSub .formWrapper .btn-lg {
  display: inline-block;
  color: #fff;
  font-size: 0.875rem;
  padding: 15px 50px;
  background-color: #2d5a9b;
  border-color: #2d5a9b;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-bottom: 1.125rem;
  border-radius: 6px;
}

body.type-basic .contentSub .formWrapper .btn:hover, body.type-basic .contentSub .formWrapper .btn-lg:hover {
  text-decoration: none;
  background-color: #3871c3;
}

body.type-basic .btn, body.type-basic .btn-lg {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 0.875rem;
  padding: 15px 50px;
  background-color: #2d5a9b;
  border-color: #2d5a9b;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-bottom: 1.125rem;
  border-radius: 45px;
}

body.type-basic .btn:hover, body.type-basic .btn-lg:hover {
  text-decoration: none;
  background-color: #3871c3;
}

body.type-basic .blank::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: '\f2d2';
  font-size: 1rem;
  font-family: 'Font Awesome 5 Free';
  font-weight: 300;
}

@media (min-width: 991px) {
  body#layout-one .container {
    max-width: 990px;
  }
  body#layout-one .contentHeader .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
  }
}

body#layout-one #contentMain.col-lg-8, body#layout-one #contentSub.col-lg-4 {
  width: 100%;
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.contentHeader h1 {
  line-height: 1.25;
}

.contentMain h1, .contentMain h2, .contentMain h3, .contentMain h4, .contentMain h5 {
  line-height: 1.5;
}

body#layout-one .contentHeader .contentHeaderSeminar h1, body#layout-two .contentHeader .contentHeaderSeminar h1 {
  text-align: left;
}

header {
  padding: 0;
}

.contentMain {
  padding: 30px;
}

.contentMain ul {
  list-style: none;
  margin: 0 0 1rem 0;
  padding: 1rem 1rem 1rem 2.5rem;
}

.contentMain ul li {
  text-indent: -1.5em;
}

.contentMain ul li::before {
  content: '\f00c';
  margin-right: .5rem;
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
}

.contentMain ul.ul-none {
  list-style: inside;
  margin: 0 0 1rem 0;
  padding: 0 1rem 0 1.5rem;
}

.contentMain ul.ul-none li {
  text-indent: -1em;
}

.contentMain ul.ul-none li::before {
  content: none;
}

@media (min-width: 576px) {
  .contentMain .block-large {
    margin: 0 auto;
    width: 100%;
  }
  .contentMain .block-middle {
    margin: 0 auto;
    width: 75%;
  }
  .contentMain .block-small {
    margin: 0 auto;
    width: 50%;
  }
}

.contentSub h2 {
  text-align: center;
}

.contentSub.col-lg-4 {
  padding: 0 30px;
}

.contentSub .formWrapper h1 {
  text-align: center;
}

footer {
  z-index: 1000;
  color: #d7dce1;
  font-weight: 300;
  -webkit-box-shadow: 0 0 5px #DDDDDD;
  box-shadow: 0 0 5px #DDDDDD;
  background-color: #003c6e;
}

footer .container p {
  text-align: center;
  font-size: 0.875rem;
}

@media (max-width: 767px) {
  footer {
    height: 180px;
  }
}
/*# sourceMappingURL=pardot_general_lp_theme.css.map */